{%extends "book/base.html"%}
{%block content%}
  <div class="row">
    <div class="col-md-5 p-5">
      <h1 class="text-center">KEEP THE TRACK OF THE BOOKS YOU'VE READ AND BE MORE PRODUCTIVE</h1>
      <p>
        Welcome, on this website you can keep track of the books you've read.
        It's in our best interest to keep your data safe from hackers, and you can be sure that it's safe here.
        Firstly we wanna thank you for visiting our website we appreciate it a lot. Books are divided into genres. You can add as many genres to your profile as you want, no subscription.
        In those genres you can add books, book needs to have a title, short description, date published and an author. Our website interface is easy to understand so that the older users of our website can use it without any problems.
        You needs are in our best interest. Thank you.
      </p>
    </div>
    <div class="col-md-7 p-5">
      <img src="https://www.incimages.com/uploaded_files/image/1920x1080/dalecarnegie_1672x785_21232.jpg" class="rounded mx-auto d-block" id="img-dale">
      <h5 class="text-center mt-4">
        It's in our best interest to keep this website optimized, if you notice any bugs make sure to contact us on our gmail:
        dimitrijestepanovic1@gmail.com, thank you.
      </h5>
    </div>
  </div>
{%endblock content%}